@import "assets/sass/utils/functions";

@import "assets/sass/vendors/include-media";

.title {
  margin: 0;
  margin-bottom: rem(20);
  font: {
    size: rem(18);
    weight: 100;
  }
}

.gifts {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  @include media("<=sm") {
    margin: rem(60) 0 rem(50);
    order: 1;
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.gift {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: rem(110);

  .title {
    line-height: 1.3;
    margin: 0;
    margin-bottom: auto;
    max-width: rem(120);
    text-align: center;
    font: {
      size: rem(12);
      weight: 100;
    }

    strong {
      font: {
        size: rem(13);
        weight: 300;
      }
    }
  }

  img {
    margin-bottom: rem(8);
    max-height: rem(55);
    min-height: rem(55);
    // position: absolute;
  }
}
