@import 'assets/sass/utils/functions';

.title {
  font: {
    size: rem(18);
    weight: 100;
  }
  margin: 0;
  margin-bottom: rem(20);
}

.gifts {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  &_wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.gift {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: rem(110);

  .title {
    font: {
      size: rem(12);
      weight: 100;
    }
    line-height: 1.3;
    margin: 0;
    margin-bottom: auto;
    max-width: rem(120);
    text-align: center;

    strong {
      font: {
        size: rem(13);
        weight: 300;
      }
    }
  }

  img {
    margin-bottom: rem(8);
    max-height: rem(55);
    min-height: rem(55);
    // position: absolute;
  }
}
