@import 'assets/sass/utils/functions';

.wrapper {
  background-color: #fff;
  border-radius: rem(10);
  display: flex;
  flex-flow: row nowrap;
  margin: rem(40) auto 0;
  max-height: rem(770);
  max-width: rem(1176);
  min-height: rem(770);
  min-width: rem(1176);
}

.spacer {
  display: block;
  visibility: visible;
  margin-top: auto;
}
