@import 'assets/sass/utils/functions';

.input {
  display: none;
}

.label {
  border-radius: rem(8);
  cursor: pointer;
  display: block;
  max-height: rem(80);
  max-width: rem(325);
  min-height: rem(80);
  min-width: rem(325);
  position: relative;
  transition: box-shadow .25s;
  user-select: none;

  &:nth-last-child(n+3) {
    margin-bottom: rem(20);
  }

  &:hover {
    box-shadow: 0 rem(2) rem(4) 0 rgba(#000, 0.25);
  }
}

.input {
  &[type="radio"] {
    &:checked + .radio {
      background-color: #fff;
      border-color: var(--color-quiz);
      box-shadow: 0px 0px rem(4) rem(2) lightness(var(--color-quiz), 0.25);

      &::before {
        background-color: var(--color-quiz);
        opacity: 1;
        transition: opacity .2s;
      }
    }

    &:checked + .radio + .bg {
      border-color: var(--color-quiz);
    }

    & + .radio {
      background-color: lightness(var(--color-border), 0.15);
      border: rem(2) solid transparent;
      border-radius: 50%;
      display: block;
      max-height: rem(22);
      max-width: rem(22);
      min-height: rem(22);
      min-width: rem(22);
      position: absolute;
      left: rem(25);
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .2s, border-color .2s, box-shadow .2s;

      &::before {
        border-radius: 50%;
        content: '';
        display: block;
        height: rem(11);
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: rem(11);
        }
    }
  }

  &[type="checkbox"] {
    &:checked + .radio {
      background-color: var(--color-quiz);

      &::before {
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: transform .2s;
      }
    }

    &:checked + .radio + .bg {
      border-color: var(--color-quiz);
    }

    & + .radio {
      background-color: lightness(var(--color-border), 0.15);
      border-radius: 25%;
      display: block;
      max-height: rem(22);
      max-width: rem(22);
      min-height: rem(22);
      min-width: rem(22);
      position: absolute;
      left: rem(25);
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .2s;

      &::before {
        content: url('./check.svg');
        display: block;
        height: rem(12);
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-100%, -100%);
        width: rem(12);
      }
    }
  }
}

.bg {
  border: rem(1) solid lightness(var(--color-border), 0.15);
  border-radius: rem(8);
  display: block;
  height: 100%;
  width: 100%;
  transition: border-color .2s;
}

.text {
  font-size: 1.2rem;
  font-weight: 400;
  left: rem(68);
  margin: 0;
  max-height: rem(60);
  overflow: hidden;
  position: absolute;
  right: rem(25);
  top: 50%;
  transform: translateY(-50%);
}
