@import "assets/sass/utils/functions";

@import "assets/sass/vendors/include-media";

.step {
  border-right: rem(1) solid #F2F2F3;
  display: flex;
  flex-direction: column;
  max-width: rem(762);
  min-width: rem(762);
  padding: rem(40) rem(30) rem(60);
  position: relative;

  @include media(">sm") {
    min-height: 100%;
  }

  @include media("<=sm") {
    max-width: 100%;
    min-width: 100%;
    padding-bottom: 0;
  }
}
