@import "assets/sass/utils/functions";

.group {
  bottom: 0;
  // border-top: rem(1) solid lightness(var(--color-border), 0.1);
  display: flex;
  justify-content: flex-end;
  left: 0;
  padding: 0 rem(30) rem(40);
  position: absolute;
  width: 100%;
}

.btn {
  background: none;
  border: 0;
  cursor: pointer;
  position: relative;

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.btn_prev {
  composes: btn;

  border: rem(3) solid lightness(var(--color-border), .15);
  border-radius: 50%;
  margin-right: rem(15);
  max-height: rem(50);
  max-width: rem(50);
  min-height: rem(50);
  min-width: rem(50);

  &:hover {
    box-shadow: 0 rem(1) rem(3) 0 rgba(#000, .1);
  }

  svg {
    fill: rgba(#000, .45);
    display: block;
    left: 50%;
    max-height: rem(20);
    max-width: rem(20);
    min-height: rem(20);
    min-width: rem(20);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn_next {
  composes: btn;

  align-items: center;
  background: linear-gradient(180deg, var(--color-gradient-2) 0%, var(--color-gradient-1) 100%);
  border-radius: rem(10);
  color: #fff;
  display: flex;
  letter-spacing: .03em;
  justify-content: center;
  max-height: rem(50);
  max-width: rem(200);
  min-height: rem(50);
  min-width: rem(200);
  text-transform: uppercase;
  transition: opacity .2s;
  font: {
    size: rem(18);
    weight: 800;
  }

  &[disabled] {
    opacity: .5;
  }
}
