@import "assets/sass/utils/functions";

.wrapper {
  margin-bottom: rem(30);
  position: relative;
}

.text {
  color: var(--color-text-1);
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -52%);
  z-index: 2;
  font: {
    size: rem(18);
    weight: 100;
  }

  strong {
    color: var(--color-quiz);
    font-weight: 700;
    margin-left: rem(7);
  }
}

.bar {
  background-color: var(--color-bg-1);
  border-radius: rem(17);
  max-height: rem(35);
  max-width: 100%;
  min-height: rem(35);
  min-width: 100%;
  position: relative;
}

.barline {
  background: linear-gradient(351.31deg, var(--color-gradient-1) 6.79%, var(--color-gradient-2) 74.29%, var(--color-gradient-2) 74.29%);
  border-radius: inherit;
  left: 0;
  min-height: 100%;
  position: absolute;
  top: 0;
  transition: width .2s;

  &::before {
    animation: progress 1s linear infinite;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    background: {
      image: linear-gradient(135deg,rgba(255, 255, 255, .1) 25%,transparent 0,transparent 50%,rgba(255, 255, 255, .1) 0,rgba(255, 255, 255, .1) 75%,transparent 0,transparent);
      position: 0 0;
      size: rem(20) rem(20);
    }
  }

  &_finished {
    background: linear-gradient(180deg, var(--color-gradient-3) 0%, var(--color-gradient-4) 100%);
  }
}

@keyframes progress {

  from {
    background-position: 0 0;
  }

  to {
    background-position: rem(20) 0;
  }
}
