@import "assets/sass/utils/functions";

@import "assets/sass/vendors/include-media";

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  @include media("<=sm") {
    order: 2;
  }
}

.manager {
  align-items: center;
  display: flex;
  margin-bottom: rem(20);

  h4 {
    margin: 0;
    margin-bottom: rem(5);
    font: {
      size: rem(22);
      weight: 100;
    }
  }

  p {
    color: var(--color-lighter-text);
    margin: 0;
    font: {
      size: rem(16);
      weight: 100;
    }

    strong {
      color: inherit;
      font-weight: 500;
    }
  }
}

.avatar {
  margin-right: rem(15);
  position: relative;

  &::before {
    background-color: var(--color-gradient-3);
    border: rem(2) solid #fff;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    max-height: rem(15);
    max-width: rem(15);
    min-height: rem(15);
    min-width: rem(15);
    position: absolute;
    right: 0;
    transform: translate(#{rem(-7)}, #{rem(-7)});
  }

  img {
    border-radius: 50%;
    display: block;
    max-height: rem(100);
    max-width: rem(100);
    min-height: rem(100);
    min-width: rem(100);
  }
}

.hint {
  background-color: var(--color-bg-1);
  border-radius: rem(10);
  line-height: 1.5;
  margin: 0;
  margin-bottom: rem(20);
  padding: rem(15);
  font: {
    size: rem(16);
    weight: 300;
  }

  strong {
    display: block;
    font-weight: 400;
    margin-bottom: rem(10);
  }

  p {
    font-weight: 100;
    margin: 0;
    margin-bottom: rem(7);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;

    li::marker {
      margin-right: rem(3);
    }

    li:not(:last-child) {
      margin-bottom: rem(15);
    }

    strong {
      display: inline;
    }
  }
}

.link {
  color: var(--color-gradient-2);
  letter-spacing: .03em;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  font: {
    size: rem(14);
    weight: 700;
  }
}
