@import "assets/sass/utils/functions";

@import "assets/sass/vendors/include-media";

.list {
  animation: fadeIn linear .2s;
  display: grid;

  @include media("<=sm") {
    margin-bottom: rem(60);
  }
}

.pictureRadio {
  gap: rem(20) rem(60);
  grid-template-columns: repeat(3, 1fr);

  @include media("<=sm") {
    grid-template-columns: repeat(2, 1fr);
  }
}

.radio {
  grid-template-columns: repeat(2, 1fr);
  row-gap: rem(20);

  @include media("<=sm") {
    grid-template-columns: 1fr;
  }
}
