@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');
@import 'assets/sass/utils/colors';
@import 'assets/sass/utils/typography';

* {
  box-sizing: border-box;
  color: var(--color-text-2);
  font-family: 'Museo Sans Cyrl', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::after, &::before {
    box-sizing: border-box;
  }
}

body {
  background-color: rgba(#000, 0.7);
  margin: 0;
}
